* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(./bg-intro-desktop.png),
    linear-gradient(hsl(0, 100%, 74%), hsl(0, 100%, 74%));
}

main {
  /* width: 1440px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  font-family: "Poppins";
  font-size: 16px;
}

.left-part {
  flex: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 100px;
}

.left-part h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.left-part p {
  font-weight: 500;
}

.right-part {
  flex: 50%;
}

/* .right-top {
} */

.try {
  background-color: hsl(248, 32%, 49%);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 5px hsla(0, 1%, 60%, 0.582);
  font-weight: 400;
}

.try span {
  color: hsl(246, 25%, 77%);
}

.fill {
  background-color: white;
  padding: 40px;
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
  align-content: center;
  box-shadow: 0 10px hsla(0, 1%, 60%, 0.582);
}

.fill input {
  padding: 20px;
  border: 2px solid hsl(246, 25%, 77%);
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

.fill input::placeholder {
  color: hsl(248, 32%, 49%);
  font-weight: bold;
}

.fill .submit input {
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  font-size: 20px;
}

.accept {
  width: 100%;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: smaller;
}

.accept span {
  color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(./bg-intro-mobile.png),
      linear-gradient(hsl(0, 100%, 74%), hsl(0, 100%, 74%));
    width: 375px;
  }
  main {
    display: block;
    /* flex-direction: column; */
    align-items: left;
  }
  .left-part {
    flex: 100%;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
  }
  .right-part {
    flex: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .left-part h1 {
    font-size: 27px;
    padding: 35px;
    width: 100%;
  }

  .try {
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 5px hsla(0, 1%, 60%, 0.582);
    font-weight: 400;
  }

  .fill {
    background-color: white;
    padding: 40px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    align-content: center;
    box-shadow: 0 10px hsla(0, 1%, 60%, 0.582);
  }

  .fill .submit input {
    font-size: 13px;
  }
}
